<launch>
  <arg name="map_name" default="big_field" />
  <arg name="config_file" default="$(arg map_name).yaml" />
  <arg name="odom_topic" default="/lidar_slam/odom" />
  <arg name="cloud_topic" default="/cloud_registered" />
  <arg name="fsm_replan_time" default="0.25" />
  <arg name="fsm_replan_time_after_traj_start" default="0.25" />
  <arg name="fsm_replan_time_before_traj_end" default="0.35" />
  <arg name="bubble_astar_resolution" default="0.25" />
  <arg name="bubble_topo_cube_discrete_size" default="0.45" />
  <arg name="auto_start" default="false" />
  <arg name="rviz" default="true" />
  <arg name="simulation" default="true" />
  <arg name="sim_config" default="$(eval find('general_planner') + '/config/exploration/highspeed/perfect_drone_' + arg('map_name') + '.yaml')" />

  <include if="$(arg simulation)" file="$(find general_planner)/launch/exploration/perfect_drone_sim.launch">
    <arg name="sim_config" value="$(arg sim_config)" />
  </include>

  <include file="$(find general_planner)/launch/exploration/general_exploration.launch">
    <arg name="scene" value="$(arg map_name)" />
    <arg name="config_file" value="$(arg config_file)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
    <arg name="cloud_topic" value="$(arg cloud_topic)" />
    <arg name="fsm_replan_time" value="$(arg fsm_replan_time)" />
    <arg name="fsm_replan_time_after_traj_start" value="$(arg fsm_replan_time_after_traj_start)" />
    <arg name="fsm_replan_time_before_traj_end" value="$(arg fsm_replan_time_before_traj_end)" />
    <arg name="bubble_astar_resolution" value="$(arg bubble_astar_resolution)" />
    <arg name="bubble_topo_cube_discrete_size" value="$(arg bubble_topo_cube_discrete_size)" />
    <arg name="auto_start" value="$(arg auto_start)" />
    <arg name="rviz" value="$(arg rviz)" />
  </include>
</launch>
