<launch>
    <arg name="marsim" default="true"/>
    <arg name="sim_config" default="exploration_spiral0.yaml"/>
    <arg name="planner_config" default="exploration.yaml"/>
    <arg name="planner_config_path" default=""/>
    <arg name="task_planner" default="false"/>
    <arg name="task_config" default="exploration.yaml"/>
    <arg name="task_config_path" default=""/>
    <arg name="rviz" default="true"/>
    <arg name="top_down_rviz" default="true"/>
    <arg name="fpv_rviz" default="true"/>
    <arg name="rviz_config" default="$(find general_planner)/rviz/exploration.rviz"/>
    <!-- <arg name="top_down_rviz_config" default="$(find perfect_drone_sim)/rviz/top_down.rviz"/>
    <arg name="fpv_rviz_config" default="$(find perfect_drone_sim)/rviz/fpv.rviz"/> -->

    <node if="$(arg marsim)" pkg="perfect_drone_sim" type="perfect_drone"
          name="perfect_drone" output="log" clear_params="true">
        <param name="config_name" value="$(arg sim_config)" type="string"/>
    </node>

    <node if="$(arg task_planner)" pkg="task_planner" name="task_planner"
          type="task_planner" output="screen" clear_params="true">
        <param if="$(eval arg('task_config_path') != '')" name="config_path" value="$(arg task_config_path)" type="string"/>
        <param unless="$(eval arg('task_config_path') != '')" name="config_name" value="$(arg task_config)" type="string"/>
    </node>

    <node pkg="general_planner" name="fsm_node" type="fsm_node" output="screen" clear_params="true">
        <param if="$(eval arg('planner_config_path') != '')" name="config_path" value="$(arg planner_config_path)" type="string"/>
        <param unless="$(eval arg('planner_config_path') != '')" name="config_name" value="$(arg planner_config)" type="string"/>
    </node>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="exploration_rviz"
              args="-d $(arg rviz_config)" output="log"/>
        <!-- <node if="$(arg top_down_rviz)" pkg="rviz" type="rviz" name="top_down"
              args="-d $(arg top_down_rviz_config)" output="log"/>
        <node if="$(arg fpv_rviz)" pkg="rviz" type="rviz" name="fpv"
              args="-d $(arg fpv_rviz_config)" output="log"/> -->
    </group>
</launch>
