<launch>
    <arg name="planner_config_path" default="$(find general_planner)/config/exploration.yaml"/>
    <arg name="sim_config_path" default="$(find task_planner)/config/exploration_big_field_sim.yaml"/>
    <arg name="rviz" default="true"/>
    <arg name="marsim" default="true"/>
    <arg name="exploration" default="true"/>

    <node if="$(arg marsim)" pkg="perfect_drone_sim" type="perfect_drone"
          name="perfect_drone" output="screen" clear_params="true">
        <param name="config_path" value="$(arg sim_config_path)" type="string"/>
    </node>

    <node pkg="general_planner" name="fsm_node" type="fsm_node"
          output="screen" clear_params="true">
        <param name="config_path" value="$(arg planner_config_path)" type="string"/>
    </node>

    <group if="$(arg rviz)">
        <node if="$(arg exploration)" pkg="rviz" type="rviz" name="exploration_top_down"
              args="-d $(find perfect_drone_sim)/rviz/exploration.rviz" output="log"/>
    </group>
</launch>
