<launch>
    <arg name="planner_config_path" default="$(find general_planner)/config/exploration.yaml"/>
    <arg name="sim_config_path" default="$(find task_planner)/config/exploration_big_field_sim.yaml"/>
    <arg name="marsim" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="top_down" default="true"/>
    <arg name="fpv" default="true"/>
    <arg name="planner_output" default="screen"/>
    <arg name="sim_output" default="screen"/>

    <node if="$(arg marsim)" pkg="perfect_drone_sim" type="perfect_drone"
          name="perfect_drone" output="$(arg sim_output)" clear_params="true">
        <param name="config_path" value="$(arg sim_config_path)" type="string"/>
    </node>

    <node pkg="general_planner" type="fsm_node"
          name="fsm_node" output="$(arg planner_output)" clear_params="true">
        <param name="config_path" value="$(arg planner_config_path)" type="string"/>
    </node>

    <group if="$(arg rviz)">
        <node if="$(arg top_down)" pkg="rviz" type="rviz" name="exploration_top_down"
              args="-d $(find perfect_drone_sim)/rviz/top_down.rviz" output="log"/>
        <node if="$(arg fpv)" pkg="rviz" type="rviz" name="exploration_fpv"
              args="-d $(find perfect_drone_sim)/rviz/fpv.rviz" output="log"/>
    </group>
</launch>
