<launch>
    <arg name="rviz" default="true"/>
    <arg name="drone0_sim_config" default="swarm_drone0.yaml"/>
    <arg name="drone1_sim_config" default="swarm_drone1.yaml"/>
    <arg name="drone0_planner_config" default="swarm_state2state_drone0_ros1.yaml"/>
    <arg name="drone1_planner_config" default="swarm_state2state_drone1_ros1.yaml"/>

    <group ns="drone_0">
        <node pkg="perfect_drone_sim" type="perfect_drone" name="perfect_drone" output="log">
            <param name="config_name" value="$(arg drone0_sim_config)" type="string"/>
        </node>

        <node pkg="general_planner" name="fsm_node" type="fsm_node" output="screen" clear_params="true">
            <param name="config_name" value="$(arg drone0_planner_config)" type="string"/>
        </node>
    </group>

    <group ns="drone_1">
        <node pkg="perfect_drone_sim" type="perfect_drone" name="perfect_drone" output="log">
            <param name="config_name" value="$(arg drone1_sim_config)" type="string"/>
        </node>

        <node pkg="general_planner" name="fsm_node" type="fsm_node" output="screen" clear_params="true">
            <param name="config_name" value="$(arg drone1_planner_config)" type="string"/>
        </node>
    </group>

    <node pkg="task_planner" name="swarm_task_source" type="swarm_task_source" output="screen">
        <rosparam param="goal_topics">["/drone_0/goal", "/drone_1/goal"]</rosparam>
        <rosparam param="goals">[2.5, 0.0, 1.5, -2.5, 0.0, 1.5]</rosparam>
        <rosparam param="yaws">[0.0, 3.141592653589793]</rosparam>
        <rosparam param="delays">[0.0, 2.5]</rosparam>
        <param name="start_delay" value="2.0" type="double"/>
        <param name="publish_period" value="0.25" type="double"/>
        <param name="publish_duration" value="5.0" type="double"/>
    </node>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="top_down"
              args="-d $(find general_planner)/rviz/swarm_top_down.rviz" output="log"/>
        <node pkg="rviz" type="rviz" name="fpv"
              args="-d $(find general_planner)/rviz/swarm_fpv.rviz" output="log"/>
    </group>
</launch>
