<launch>
  <arg name="rviz" default="true" />
  <arg name="use_sim_time" default="false" />
  <arg name="use_mid360_yaml" default="true" />
  <arg name="mid360_yaml" default="$(find aperture_detector)/config/mid360.yaml" />
  <arg name="use_detector_params" default="true" />
  <arg name="detector_polygon_yaml" default="$(find aperture_detector)/config/polygon_hole_step_viz_unity_sim.yaml" />
  <arg name="detector_mid360_yaml" default="$(find aperture_detector)/config/mid360.yaml" />
  <arg name="vlm" default="true" />
  <arg name="vlm_base_url" default="http://127.0.0.1:18000/v1" />
  <arg name="vlm_api_key" default="diff" />
  <arg name="vlm_model" default="auto" />

  <param name="/use_sim_time" value="$(arg use_sim_time)" />

  <node pkg="aperture_detector" type="polygon_hole_step_viz" name="polygon_hole_step_viz" output="screen">
    <rosparam if="$(arg use_detector_params)" file="$(arg detector_polygon_yaml)" command="load" subst_value="true"/>
    <rosparam if="$(arg use_detector_params)" file="$(arg detector_mid360_yaml)" command="load" subst_value="true"/>
    <rosparam if="$(arg use_mid360_yaml)" file="$(arg mid360_yaml)" command="load" subst_value="true"/>
    <remap from="/laserMapping/odometry_body" to="/unity_odom" />
  </node>

  <group if="$(arg vlm)">
    <node pkg="aperture_detector" type="windowtec_vlm_box_node.py" name="windowtec_vlm_box_node" output="screen">
      <param name="image_topic" value="/camera0/color/image/compressed" />
      <param name="box_topic" value="/windowtec/window_box" />
      <param name="overlay_topic" value="/windowtec/overlay_image" />
      <param name="base_url" value="$(arg vlm_base_url)" />
      <param name="api_key" value="$(arg vlm_api_key)" />
      <param name="model" value="$(arg vlm_model)" />
      <param name="detection_period" value="3.0" />
    </node>
  </group>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find aperture_detector)/rviz_cfg/polygon_hole_step.rviz" />
  </group>
</launch>
