<launch>
	<!-- <arg name="takeoff_height" default="0.6" /> -->
	<node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
		<remap from="~odom" to="/ekf_quat/ekf_odom" />
		<remap from="~cmd" to="/planning/pos_cmd" />
		<!-- kdkd take off height -->
    	<!-- <param name="auto_takeoff_land/takeoff_height" value="$(arg takeoff_height)" /> -->

        <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
	</node>
 
</launch>